In [125]:
nama = "' \" Archel'"

print(nama)

' " Archel'

In [126]:
print(f"{nama} hehe")

' " Archel' hehe

In [127]:
print("haha", "hehe", sep="||||")

haha||||hehe

In [128]:
type(3 > 2)

bool

In [129]:
pset_time = 15
sleep_time = 8
print(sleep_time > pset_time)

False

In [130]:
derive = True
drink = False
both = drink and derive
print(both)

False

# Hahaha
hehehe

In [131]:
if 2 > 3:
    print("It works!")
elif 1 > 0:
    print("INN INN INN") 
else:
    print("Ngawur koe, belajar dulu sono")

# ------------------------------
if 2 > 3:
    print("It works!")
elif 1 > 0:
    print("INN INN INN") 
else:
    print("Ngawur koe, belajar dulu sono")

INN INN INN
INN INN INN

In [132]:
if 4 % 2 == 0:
    print("4 is even")

#------------------

if 3 % 2 == 1:
    print("3 is odd")

4 is even
3 is odd

## USE TAB

In [133]:
if 4 > 2:
    print("It works!")
    print("HAHAHAHAHAHA")
    if 5 > 4:
        print("Horee Masuk sini LAGIII")
elif 1 > 0:
    print("Horee Masuk sini") 
else:
    print("Ngawur koe, belajar dulu sono")

print("NGOOOK")

It works!
HAHAHAHAHAHA
Horee Masuk sini LAGIII
NGOOOK

In [134]:
is_archel_kucing = True
is_archel_kenyang = False

if (is_archel_kenyang == is_archel_kucing):
    print("Archel kenyang")

In [135]:
# Looping: BERULANG-ULANG

# while loop
i: int = 3

while i < 5: 
    #  3 < 5 -> True
    # i == 5, 5 < 5 -> False
    print("archel")
    print(f"I before change is {i}")
    i += 1
    print(f"I after change is {i}")
    # i = i + 1 -> i += 1

print("OUT LOOP!!")
# for loop

archel
I before change is 3
I after change is 4
archel
I before change is 4
I after change is 5
OUT LOOP!!

In [136]:
range(5) # 0, 1, 2, 3, 4

range(0, 5)

In [137]:
list(range(1,5,2))

[1, 3]

In [138]:
for i in [4,12,7,1]:
    print(i)

4
12
7
1

In [139]:
i = 4
print(i)
i = 12
print(i)
i = 7
print(i)
i = 1
print(i)

4
12
7
1

In [140]:
mysum = 0

for i in range(7, 10): # 7, 8, 9
    mysum = mysum + i
print(mysum)

24

In [141]:
mysum = 0
i = 7
mysum = mysum + i
i = 8
mysum = mysum + i
i = 9
mysum = mysum + i
print(mysum)

24

In [142]:
for n in [0,1,2,3,4]:
    print(n)

0
1
2
3
4

In [143]:
iter_range = range(5)

In [144]:
iter_range[3]

3

In [145]:
iter_range = range(5)
i = 0

while i < len(iter_range):
    print(iter_range[i])
    i+= 1

0
1
2
3
4

In [146]:
for n in range(5):
    # 0
    # 1
    # 2
    # 3
    # 4
    print(n)

0
1
2
3
4

In [148]:

for j in range(5,10):
    print(j)
    break
    print("ARCHEL AAAA")
    archelllll = 5

print(archelllll)

5

NameError: name 'archelllll' is not defined

# LIST

In [86]:
nilai_biologi = 3
nilai_fisika = 5

pelajaran_archel = ["biologi", "fisika", "matematika", "kimia"]
nilai_pelajaran_sma_archel = [5, 3, 9, 8]

## Aplikasi ngejudge nilai Archel

In [87]:
i = 0
for nilai in nilai_pelajaran_sma_archel:
    print(f"Nilai {pelajaran_archel[i]} adalah {nilai}")
    if nilai < 6:
        print("KAMU KURANG BELAJAR SIH! MAIN MULU")
    else:
        print("alah hoki aja")
    i += 1

Nilai biologi adalah 5
KAMU KURANG BELAJAR SIH! MAIN MULU
Nilai fisika adalah 3
KAMU KURANG BELAJAR SIH! MAIN MULU
Nilai matematika adalah 9
alah hoki aja
Nilai kimia adalah 8
alah hoki aja

## Teaser

- Dictionary, Set, List
- Function

In [92]:
# map | dictionary
# key: value

nilai_pelajaran_sma_archel_dict = {
    "biologi": {
        "apa sih": 3
    },
    "fisika": 3,
    "matematika": 9,
    "kimia": 8
}

In [94]:
nilai_pelajaran_sma_archel_dict["fisika"]

3

In [100]:
aaa = sum([1,4,5,6])

In [101]:
aaa

16

In [76]:
nilai_pelajaran_sma_archel.append(10)

In [77]:
nilai_pelajaran_sma_archel

[5, 3, 10]

In [78]:
nilai_pelajaran_sma_archel.remove(3)

In [79]:
nilai_pelajaran_sma_archel

[5, 10]

PR 1: Diberikan tiga inputan dengan kriteria sebagai berikut.  
- Nama
- Gender (male | female)
- Usia

Kriteria:  
1. Apabila usia di bawah 30 tahun, dengan gender "male", output: "Halo Mas XXX."
2. Apabila usia 30 tahun ke atas, dengan gender "male", output: "Halo Pak XXX."
3. Apabila usia di bawah 30 tahun, dengan gender "female", output: "Halo Mbak XXX."
4. Apabila usia 30 tahun ke atas, dengan gender "female", output: "Halo Bu XXX."

PR: Terdapat dua buah persegi yang masing-masing dapat saling menumpuk (overlay) dengan titik pada sumbu x dan y seperti contoh gambar berikut.  

![dua_kotak.png]()

Ketentuan:
- Masing-masing titik ditentukan oleh inputan A, B, C, D, E, F, G, H secara dinamis.  
- koordinat dari masing-masing titik dapat berupa angka negatif, namun luasnya tetap bernilai positif.  

Challenge: Tentukan luas seluruh area yang tertutup oleh dua buah kotak tersebut.  
Hints: Hitung luas area yang saling overlay terlebih dahulu untuk mengurangi luas salah satu kotak.  
Contoh:  
Inputan: A = -3, B = 0, C = 3, D = 4, E = 0, F = -1, G = 9, H = 2.  
Luas Area: 45

PR 3: Genshin Wishing Simulator

In [103]:
import random

In [109]:
random.randint(1,10)

9

In [ ]:
# given 4 chars, 1 5*, 3, 4*..
# dah bikin simulatornya beserta pity system